.hero {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 0em 40px;
  gap: 16px;
  background: #495e57;
  margin-bottom: 50px;
  position: relative;
}

/* Subheading */
.hero__sub-heading {
  font-family: "Markazi Text";
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 48px;
  color: #edefee;
  margin-top: -25px;
  margin-bottom: 10px;
}

/* identical to box height */

.hero__content {
  width: 242px;
  height: 105px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}

.hero__image {
  position: absolute !important;
  right: 0;
}
